html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  position: relative;
}

.el-header {
  text-align: center;
}

.el-main {
  /* background-color: #E9EEF3; */
  color: #333;
  text-align: center;
}

.footer {
  text-align: center;
  color: #888888;
}

.form-content {
  text-align: center;
}
/* 
.container-body {
  padding-bottom: 100px;
} */

.original-image {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}

.color-picker {
  display: inline-block;
}