html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    position: relative;
    margin-top: 50px;
}

.alert {
    display: flex;
    align-items: center;
    height: 20px;
}

.original-image {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    width: 100%;
}

.container-body {
    padding-bottom: 100px;
}

.footer {
    margin: 0 auto;
    width: 92%;
    position: absolute;
    bottom: 10px;
    height: 50px;
    color: #888888;
}